html, body {
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 background-image: url("https://wallpaper.dog/large/20552168.jpg");
 background-size: cover;
}
#scene-description {
 width: 600px;
 margin: 20px auto;
 text-align: center;
 font-family: "Trebuchet MS";
 font-size: 0.8em;
 color: white;
}
#scene-container {
 width: 600px;
 height: 400px;
 margin: auto;
 border: 5px solid black;
 background: linear-gradient(DeepSkyBlue, LightSkyBlue, rgb(168, 206, 240));
 overflow: hidden; /* contain objects "on-screen" */
}

#moana {
    width: 820px;
    /* Use RELATIVE positioning! */
    position:relative;
    top: 0px;
    left: -100px;
    z-index: 10;
    animation: move-boat 3s infinite linear;
    animation-direction:alternate;
}

#splash {
    width: 500px;
    position: relative;
    top: -300px;
    left: 0px;
    z-index: 10s;
    animation: move-splash 3s infinite linear;
}

@keyframes move-splash {

0% {
    transform: translate(0px, 0px);
}
50% {
    transform: translate(0px, -50px);
}
100% {
    transform: translate(0px, 0px);
}
}

@keyframes move-boat {

0% {
    transform: rotate(0deg);
}
50% {
    transform: rotate(-20deg);
}
100% {
    transform: rotate(20deg);
}
}



